# Stata datafiles
*.dta

# Stata logfiles
*.smcl

# estimate files
*.ster

# database files
*.db

# figures emf
*.emf

# figures gph
*.gph

# figures pdf
*.pdf

# figures png
*.png

# tables rtf
*.rtf

# tables tex
*.tex